@import url("reset.css");


:root {
    --background-color: rgb(14,165,233);
    --background-gradient: linear-gradient(90deg, rgba(14,165,233,1) 0%, rgba(99,102,241,1) 100%);
    --font-color: rgb(20, 20, 20);
}

* {
    color:var(--font-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

h1 {
font-size: 2.5rem;
}

h2 {
font-size: 1.5rem;
}

p {
font-size:1rem;
}



main {
width:100%;
padding:1rem;
min-height: 99vh;
align-items: center;
display: flex;
gap:clamp(1rem, 5vw, 3rem);
justify-content: center;
flex-wrap: wrap;
}

#profile-text {
display: flex;
flex-direction: column;
}

.icon-container {
display: flex;
justify-content: center;
gap:1.5rem;
margin:1rem 0rem;
}

.icon {
display:inline-block;
font-size:2rem;
transition: 0.3s;
}

.icon:hover {
cursor: pointer;
transition: 0.3s;
transform: scale(1.05);
}

img {
width:20rem;
border-radius: 50%;
}

body {
width:100%;
background: var(--background-gradient);
}


body {
background: linear-gradient(-45deg, rgba(14,165,233,1), rgba(99,102,241,1), rgba(14,165,233,1));
background-size: 400% 400%;
animation: gradient 20s ease infinite;
}

@keyframes gradient {
0% {
background-position: 0% 50%;
}
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}

